/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  /* Fonts */
  --sans-serif: "Libre Franklin", sans-serif;
  --sans-serif-alt: "Raleway", sans-serif;

  /* Colors */
  --primary: #1dab51;
  --secondary: #e99044;
  --dark: #404040;
  --dark-alt: #868a8c;
  --light: #ffffff;
  --light-alt: #f8f8f8;
}

/* Default */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: var(--primary) transparent;
  scrollbar-width: thin;
}
*::selection {
  background: var(--primary);
  color: var(--light);
}
::-webkit-scrollbar {
  width: 5px;
  background: var(--dark);
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  background: var(--light);
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 100%;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-alt);
  line-height: 160%;
  letter-spacing: 0.5px;
}
p a {
  color: var(--primary);
  transition: 0.5s ease all;
}
p a:hover {
  color: var(--primary);
}
p b {
  font-weight: 700;
}

/* Background */
.bg-primary {
  background: var(--primary) !important;
}
.bg-secondary {
  background: var(--secondary) !important;
}
.bg-light {
  background: var(--light) !important;
}
.bg-light-alt {
  background: var(--light-alt) !important;
}
.bg-dark {
  background: var(--dark) !important;
}
.bg-dark-alt {
  background: var(--dark-alt) !important;
}

/* Color */
.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-light {
  color: var(--light) !important;
}
.text-light-alt {
  color: var(--light-alt) !important;
}
.text-dark {
  color: var(--dark) !important;
}
.text-dark-alt {
  color: var(--dark-alt) !important;
}

/* Section */
.section {
  position: relative;
  padding: 100px 0;
}

/* Container */

/* Button */
.button {
  display: inline-block;
  padding: 15px 30px;
  border: 0;
  background: var(--primary);
  color: var(--light);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: 0.5s ease all;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}
.button::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary);
  transition: 0.5s ease all;
}
.button:hover::after {
  top: 0;
}
.button span {
  position: relative;
  z-index: 1;
}

/* Heading */

/* List */
